<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <%- include("../layouts/head"); %>
        <title>Matriz de personalidade</title>
    </head>

    <body>
        <%- include("../layouts/header"); %>

        <div class="container page">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a turpis tortor. In sed nulla porta, sollicitudin leo et, tempor ante. Vestibulum aliquet molestie pellentesque. Nam vel libero congue, auctor metus sed, convallis diam. Nunc posuere turpis eu odio fringilla venenatis. Donec ac lacinia mi. Morbi malesuada facilisis ex, ac vulputate libero commodo sed. Aliquam eget magna eleifend, lobortis velit ac, imperdiet sapien. Fusce at enim quis neque vulputate congue.</p>
        </div>
    </body>

</html>