<div class="container-fluid content-header">
    <div>
        <a href="/">
            TESTE
        </a>
        <a href="/result">
            RESULTADO
        </a>
    </div>
    
    <img src="/public/logo.png" alt="Logomarca da Matriz de Personalidade">
</div>